.footer {
    flex-shrink: 0;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    bottom: 0;
 }

 .footer .fab {
     cursor: pointer;
     color: var(--black);
     cursor: pointer;
 }