:root {
  --white: rgb(253, 253, 253);
  --gray: rgb(56, 53, 53);
  --orange: rgb(241, 187, 87);
  --light-gray: rgb(196, 195, 195);
  --dark-white: rgb(218, 216, 216);
  --red: rgb(204, 58, 58);
  --black: rgb(29, 29, 29);
  --blue: rgb(169, 201, 248);

}

body{        
    padding-top: 60px;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
}

.fixed-header{
    width: 100%;
    height: 66px;
    position: fixed; 
    padding: 0px 10px;       
    background: var(--white);
    display: flex;
    justify-content: space-between;
    -webkit-box-shadow: 0 8px 6px -6px var(--gray);
	   -moz-box-shadow: 0 8px 6px -6px var(--gray);
	        box-shadow: 0 8px 6px -6px var(--gray);
    z-index: 6;
}
.fixed-header{
    top: 0;
}
.header-logo{
    padding-left: 10px;
    color: var(--orange);
}

.header-logo .fas {
  margin-top: 20px;
}
h1{
    float: right;
    padding: 0px 10px;
    font-family: 'Roboto Mono', monospace;
   }

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

@media screen and (max-width: 600px) {
  .header-logo.responsive {position: relative;}
  .header-logo.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .navigation a:not(:first-child) {display: none;}
  .navigation a.icon {
    float: right;
    display: block;
  }
}

.profile .circle-icon {
    background: var(--orange);
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
}
.notification {
    color:var(--light-gray);
    font-size: 1.3rem;
    margin: 5px;
    align-self: center;
    padding: 10px;
}
.menu-toggle .profile{
    align-self: center;
    margin: 5px;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.menu-toggle .profile:hover .circle-icon {
    background-color: var(--light-gray);
    color: var(--gray);
  }

  .menu-toggle .profile:hover  ~ .menu{
    display: block; 
  }


.navigation .notification:hover{
    background-color: var(--light-gray);
    color: var(--gray);
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    
  }
  
.menu-toggle a{
    display: inline-block;
    width: 93%;
    padding: 5px;
    text-decoration: none;
    color: var(--gray);
}


.menu {
    background-color: var(--white);
    width: 10%;
    position: absolute;
    top: 50px;
    right: 40px;
    border-radius: 8px;
    display: none;
    z-index: 1;
}

.menu a:hover{
  background-color: var(--light-gray);
  padding: 5px;
}

.menu a.log-Out{
  color: var(--red);
}

.menu a .fas{
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .searchTerm {
    width: 100%;
    border: 1px solid var(--light-gray);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: var(--light-gray);
  }
  
  .searchTerm:focus{
    border: 2px solid var(--gray);
    color: var(--black);
  }
  
  .searchButton {
    width: 40px;
    height: 32px;
    border: 1px solid var(--light-gray);
    background: var(--light-gray);
    text-align: center;
    color: var(--white);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .search-container{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .search-container .microphone {
    float: right;
    padding: 10px;
    color:var(--light-gray);
    cursor: pointer;
  }
  