.main-screen {
    background-color: var(--white);
    scroll-behavior: auto;
    margin-left: 240px;
}

::-webkit-scrollbar {
  display: none;
}
.panel{
  margin-top: 10px;
    display: flex;
    overflow-x: hidden; 
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling:touch;
}

a.panel-btn{
display:inline-block;
padding: 5px 7px;
margin: 10px;
border-radius:2em;
text-decoration:none;
box-sizing: border-box;
font-weight:300;
color: var(--gray);
border: 0.5px solid var(--gray);
background-color:var(--dark-white);
text-align:center;
transition: all 0.2s;
}

a.panel-btn:first-child{
    background-color:var(--orange);
    color: var(--white);
    border: 0.5px solid var(--orange);
}
    
@media all and (max-width:30em){
     a.panel-btn{
    display:block;
    margin:0.2em auto;
    }
}

.carousel{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
    width: 500px;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 500px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .slides img {
    width: 500px;
  }
  

  .videos {
    margin: 20px;
    font-family: 'Open Sans', 'sans-serif';
    background-color: var(--white);
    color: var(--gray);
  }

  .wrapper {
    max-width: 1000px;
    margin: 0 20px;
    display: grid;
    grid-gap: 10px;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);
  }
  
  .video-container {
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
    position: relative;
  }

    
  .wrapper > * {
    background-color: var(--white);
    margin-bottom: 10px;
  }

.live-video {
  position: absolute;
  padding: 3px;
  top: 8px;
  left: 16px;
  color:var(--white);
  background-color: var(--red);
  border-radius: 5px;
}

.bottom-right {
  position: absolute;
  padding: 3px;
  top: 90px;
  right: 10px;
  color:var(--white);
  background-color: var(--black);
  opacity: 0.5;
  border-radius: 5px;
}
  .video-container .preview .thumbnail{
    position: relative;
    width: 100%;
    height: 60%;
  }

  .video-container .preview  .fas{
    color: var(--white);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
  }


  .video-container .preview  .thumbnail:hover {
    cursor: pointer;
    filter: brightness(50%);
  }


  .video-container .desc{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    background-color: var(--white);
    color: var(--black);
    flex-direction: column;
    font-size: 0.5em;
    grid-auto-flow: column;
    grid-template-columns: 80px;
    text-overflow: ellipsis;
  }

  .video-container .desc .video-details{
    left: 0;
    font-size: 1.5em;
  }

  .video-container .desc .video-details:hover{
    color: var(--blue);
  }

   .video-details .title {
     font-weight: bold;
     font-size: 1.2em;
   }

  .video-container .desc .fas {
    right: 5px;
    top: 5px;;
    position: absolute;
    cursor: pointer;
  }


  @supports (display: grid) {
    .wrapper > * {
      margin: 0;
    }
  }
  