
   .streamers{
  width: 240px;
  height: 100%;
  position:fixed;
  float: left;
  background-color:var(--dark-white); 
  padding-top: 20px;
  overflow:scroll;
  display: grid;
  grid-auto-flow:row;
  }

  .streamers .card{
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  text-overflow: ellipsis;
  text-align: center;
  padding: 10px;
  }

  .streamers .card:hover{
    background-color: var(--white);
  }
    
  .streamers .card .live .fas{
    color: var(--red);
    margin-right: 2px;
    animation: heartBeat;
    animation-duration: 10s;
    --animate-repeat: 10;
  }

  .info hr {
    border: 1px solid var(--white);
  }

  .info{
    background-color: var(--dark-white);
    position:fixed;
    bottom: 0;
    width: 240px;
  }

  .info-inner {
    background-color: var(--light-gray);
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
  }

  .info-inner p::selection{
      background-color: var(--orange);
      color: var(--white);
  }

  .info-inner .info-text{
      padding: 5px 10px;
      text-align: center;
      color: var(--black);
  }
  .info-inner .social{
    text-align: center;
  }

  .info-inner .social a{
    padding: 5px;
    color: var(--black);
  }
  .info-inner .social a:hover {
      color: var(--blue);
  }
 

  @media only screen and (max-width: 500px) {
    .last-col {
        display: none;
    }
  }